body {
  font-family: Arial, sans-serif;
  background: #111827;
  color: white;
  text-align: center;
}

.quiz-box {
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6366f1;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #4f46e5;
}body {
  background: radial-gradient(circle, #5b0f1c, #1a0005);
  color: gold;
  font-family: 'Georgia', serif;
}. }
}